.category-icon {
    background-color: lightcyan;
    margin: 3%;
}

.blue {
    margin: 2px;
    border-color: blue;
    background-color: cornflowerblue;
    color: white;
    text-align: left;
    padding-top: 2%;
    padding-right: 2%;
    padding-bottom: 1.3%;
}

