.label {
    margin-top: 10px;
    margin-bottom: 40px;
    font-weight: 600;
}

.ui.segment.top {
    text-align: left;
    margin-left: 25%;
}

.ui.segments > .ui.secondary.segment > .label {
    text-align: left;
    margin-left: -41%;
}