.button {
  border-color: white;
  margin: 20px;
}
button:hover {
  font-weight: bold;
}

.save {
  background-color: green;
  border-color: white;
  color: white;
}

.categories, .weekly .addTask{
  width: 200px;
  border-radius: 4px;
}

.modifyTask {
  background-color: darkorange;
  color: white; 
}

